PORT=5001
MONGODB_URI="mongodb+srv://sourabhtripathi8103:Sourabh@sourabhtripathi.cv1zjrz.mongodb.net/Job-Portal-Website"
JWT_SECRET="123456"
CLOUDINARY_CLOUD_NAME="do62a7jrx"
CLOUDINARY_API_KEY="193141125292411"
CLOUDINARY_API_SECRET="3TtZPs61k1Z1WooChAYrnbSHIu8"
